body{
    background-color: darkred;
}
.one{
    background-color: firebrick;
}
.two{
    background-color: firebrick;
}
h1{
    background-color: gold;
}
h2{
    background-color: gold;
}
p{
    background-color: gold;
}